[Unit]
Description=OrangePi-Pipeline-Process
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/xbot/Alt/src
ExecStart=/opt/xbot/Alt/runOpiProcess.sh
Restart=always
