[Unit]
Description=OrangePi-Pipeline-Process
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/tmp/xbot/Alt/src
ExecStart=/var/tmp/xbot/Alt/runOpiProcess.sh
Restart=always
